/** body **/
body{
    margin: 0;
    padding: 10px;
	background-color:#F7F7F7!important;
}

#shell {
	margin: 0 auto;
	text-align: left;
	font-family: arial;
	background-color: white;
	position: relative;
	border-left: solid #e4e4e4 1px;
	border-right: solid #e4e4e4 1px;
	z-index: 0;
	width: 1002px;
	padding: 0px 0px 0px 9px;
	
}

#page{

}

#page-inner{

}

/** header **/
#header{

}

#header-inner{

}

/* Wrapper for logo, website name, and slogan */
#logo-title{

}

/* Wrapper for logo */
#logo{
    margin: 0 10px 0 0;
    padding: 0;
}

/* The actual logo image */
#logo-image{

}

/* The name of the website */
h1#site-name, div#site-name{
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited{
    color: #000;
    text-decoration: none;
}

#site-name a:hover{
    text-decoration: underline;
}

/* The slogan (or tagline) of a website */
#site-slogan{

}

/* Wrapper for any blocks placed in the header region */
#header-blocks{

}

/** main (container for everything else) **/
#main{

}

#main-inner{

}

/** content **/
#content{

}

#content-inner{

}

/* The mission statement of the site (displayed on homepage) */
#mission{

}

/* Wrapper for any blocks placed in the "content top" region */
#content-top{

}

/* Wrapper for breadcrumb, title, messages, tabs, and help */
#content-header{

}

/* The path to the current page in the form of a list of links */
.breadcrumb{
    padding-bottom: 0; /* Undo system.css */
}

/* The title of the page */
h1.title,
/* Block title or the title of a piece of content when it is given in a list of content */
h2.title,
/* Comment title */
h3.title{
    margin: 0;
}

/* Important messages (status, warning, and error) for the user */
#maillistmsg,
div.messages{
    font-family:Georgia,Times,serif;
    font-size:1.3em;
    line-height:1.5em;
    margin-top:5px;
    min-height:30px;
    height:auto !important;
    height:30px;
	margin-bottom:15px;
    padding:10px 10px 10px 45px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* to match body defined text styles */
div.messages ul,
div.messages li {
    font-family:Georgia,Times,serif;
    font-size:inherit;
    line-height:1.5em;
}
#maillistmsg{
    display:none;
    min-height:0px;
    height:auto !important;
    height:0px;
}

/* Normal priority messages */
#maillistmsg,
div.status{
	border: 1px solid #FFCC00 !important;
    background-color:#FFFFDD !important;
	background-image:url('images/backgrounds/messageBG.gif') !important;
	background-position:10px 10px !important;
    background-repeat:no-repeat !important;
}

/* Medium priority messages */
div.warning, tr.warning{
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
	border: 1px solid #FFCC00 !important;
    background-color:#FFFFDD !important;
	background-image:url('images/backgrounds/messageBG.gif') !important;
	background-position:10px 10px !important;
    background-repeat:no-repeat !important;
}

/* High priority messages. See also the .error declaration below. */
div.error, tr.error{
	border: 1px solid #900 !important;
	background-color:#FEE4E4 !important;
    background-image:url('images/backgrounds/errorBG.gif') !important;
    background-position: 10px 10px !important;
    background-repeat:no-repeat !important;
}

div.error403{
	border: 1px solid #ddc103 !important;
	background-color:#FFFFCC !important;
    background-image:url('images/backgrounds/icon_alert.gif') !important;
    background-position: 10px 10px !important;
    background-repeat:no-repeat !important;
}

/* See also the tabs.css file. */
div.tabs{

}

/* Help text on a page */
.help{
    margin: 1em 0;
}

/* Link to more help */
.more-help-link{
    font-size: 0.85em;
    text-align: right;
}

/* Wrapper for the actual page content */
#content-area{

}

/* A list of page numbers when more than 1 page of content is available */
.pager{
    clear: both;
    margin: 1em 0;
    text-align: center;
}

.pager a, .pager strong.pager-current{
    padding: 0.5em;
}

/* The links to the RSS or Atom feeds for the current list of content */
.feed-icons{
    margin: 1em 0;
}

/* Wrapper for any blocks placed in the "content bottom" region */
#content-bottom{

}

/** navbar **/
#navbar{

}

#navbar-inner{

}

/* Wrapper for the search form */
#search-box{

}

/* Label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label{
    display: none;
}

/* Primary links */
#primary{

}

/* Secondary links */
#secondary{

}

/** sidebar-left **/
#sidebar-left{

}

#sidebar-left-inner{

}

/** sidebar-right **/
#sidebar-right{

}

#sidebar-right-inner{

}

/** footer **/
#footer{

}

#footer-inner{

}

/* Wrapper for the footer message from Drupal's "Site information"
and for any blocks placed in the footer region */
#footer-message{

}

/** closure **/
/* Wrapper for any blocks placed in the closure region */
#closure-blocks{

}

/** Drupal nodes **/
/* Node wrapper */
.node{

}

/* Additional wrapper for node */
.node-inner{

}

/* A sticky node (displayed before others in a list) */
.sticky{

}

/* Unpublished nodes */
.node-unpublished{
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

/* The word "Unpublished" displayed beneath the content. */
.node-unpublished div.unpublished,
.comment-unpublished div.unpublished{
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
}

/* A node created by the current user */
.node-mine{

}

/* A node displayed as teaser */
.node-teaser{

}

/* All nodes are given a node-type-FOO class that describes the type of
* content that it is. If you create a new content type called
* "my-custom-type", it will receive a "node-type-my-custom-type" class.
*/
/* Page content node */
.node-type-page{

}

/* Story content node */
.node-type-story{

}

/* Node title */
.node h2.title{

}

/* "New" or "Updated" marker for content that is new or updated for the current user */
.marker{
    color: #c00;
}

/* The picture of the node author */
.node .picture{

}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture{
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* Wrapper for submitted and terms data */
.node .meta{

}

/* The "posted by" information */
.node .submitted{

}

/* Node terms (taxonomy) */
.node .terms{

}

/* Node's content wrapper */
.node .content{

}

/* Wrapper for node links */
.node div.links{
    margin: 1em 0;
}

/* Taxonomy links, node links, comment links */
ul.links{
    margin: 0;
    padding: 0;
}

ul.links.inline{
    display: inline;
}

ul.links li{
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}



/* Preview of the content before submitting new or updated content */
.preview .node{
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
/* Wrapper for the list of comments and its title */
#comments{
    margin: 1em 0;
}

/* Heading for the list of comments */
#comments-title{

}

/* Wrapper for a single comment */
.comment{

}

/* Additional wrapper for a single comment */
.comment-inner{

}

/* Preview of the comment before submitting new or updated comment */
.comment-preview{

}

/* A new comment since the user last viewed the page. */
.comment.new{

}

/* An odd-numbered comment in the list of comments */
.comment.odd{

}

/* An even-numbered comment in the list of comments */
.comment.even{

}

/* The first comment in the list of comments */
.comment.first{

}

/* The last comment in the list of comments */
.comment.last{

}

/* Unpublished comments */
.comment-unpublished{
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

/* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
.comment-unpublished div.unpublished{

}

/* Published comments */
.comment-published{

}

/* A comment created by an anonymous user */
.comment-by-anon{

}

/* A comment created by the node's author */
.comment-by-author{

}

/* A comment created by the current user */
.comment-mine{

}

/* Comment title */
.comment h3.title{

}

/* "New" marker for comments that are new for the current user */
.new{
    color: #c00;
}

/* The picture of the comment author */
.comment .picture{

}

/* The "posted by" information */
.comment .submitted{

}

/* Comment's content wrapper */
.comment .content{

}

/* The user's signature */
.comment .user-signature{

}

/* Wrapper for comment links. See also the ul.links declaration in the node section above. */
.comment div.links{
    margin: 1em 0;
}

/* Nested comments are indented */
.indented{
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

/* Preview of the comment before submitting new or updated comment */
.preview .comment{
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
/* Block wrapper */
.block{

}

/* Zebra striping for each block in the region */
.block.region-odd{

}

/* Zebra striping for each block in the region */
.block.region-even{

}

/* Zebra striping independent of each region */
.block.odd{

}

/* Zebra striping independent of each region */
.block.even{

}

/* Incremental count for each block in the region */
.region-count-1{

}

/* Incremental count independent of each region */
.count-1{

}

/* Additional wrapper for block */
.block-inner{

}

/* Block title */
.block h2.title{

}

/* Block's content wrapper */
.block .content{


}

/* Email Form Block */
#maillistvalue-wrapper {
    display:inline;
}
#maillistinput {
    display:inline;
    width:200px;
    margin-right:10px;
}
#maillistsubmit {
    display:inline;
}
#maillistinput input{
    width:200px;
}

/* Block for the latest news items in the first category */
#block-aggregator-category-1{

}

/* Block for the latest news items in the first feed */
#block-aggregator-feed-1{

}

/* First administrator-defined block */
#block-block-1{

}

/* "Recent blog posts" block */
#block-blog-0{

}

/* "Book navigation" block for the current book's table of contents */
#block-book-0{

}

/* "Recent comments" block */
#block-comments-0{

}

/* "Active forum topics" block */
#block-forum-0{

}

/* "New forum topics" block */
#block-forum-1{

}

/* "Primary links" block */
#block-menu-2{

}

/* "Syndicate" block for primary RSS feed */
#block-node-0{

}

/* "Most recent poll" block */
#block-poll-0{

}

/* "Author information" block for the profile of the page's author */
#block-profile-0{

}

/* "Search form" block */
#block-search-0{

}

/* "Popular content" block */
#block-statistics-0{

}

/* "User login form" block */
#block-user-0{

}

/* "Navigation" block for Drupal navigation menu */
#block-user-1{

}

/* "Who's new" block for a list of the newest users */
#block-user-2{

}

/* "Who's online" block for a list of the online users */
#block-user-3{

}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
* Search results.
*/
/* Wrapper for box */
.box{

}

/* Additional wrapper for box */
.box-inner{

}

/* Box title */
.box h2.title{

}

/* Box's content wrapper */
.box .content{

}

/** Miscellaneous Drupal styles **/
/* Errors that are separate from div.messages status messages (see above.) */
.error{
    /* color: #e55; */ /* Drupal core uses a #e55 background */
}

/* Warnings that are separate from div.messages status messages (see above.) */
.warning{
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

/* Aggregator, blog, and forum more link */
.more-link{
    text-align: right;
}

/* Drupal's default login form */
#user-login-form{
    text-align: left;
}

/* Some tables have rows marked even or odd. */
tr.even{
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd{
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

/* The active item in a Drupal menu */
li a.active{
    color: #000;
}


/** Drupal forms **/
/* Wrapper for a form element (or group of form elements) and its label */
.form-item,
.form-checkboxes,
.form-radios{
    margin: 1em 0;
}

/* Highlight the form elements that caused a form submission error */
.form-item input.error,
.form-item textarea.error,
.form-item select.error{
    border: 2px solid #c00;
}

/* The label for a form element */
.form-item label{
    display: block;
    font-weight: bold;
    font-size:1.2em;
}

/* The label for a radio button or checkbox */
.form-item label.option{
    display: inline;
    font-weight: normal;
}

/* The part of the label that indicates a required field */
.form-required{
    color: #c00;
}

/* The descriptive help text (separate from the label) */
.form-item .description{
    font-size: 0.85em;
}

/* Pack groups of checkboxes and radio buttons closer together */
.form-checkboxes .form-item,
.form-radios .form-item{
    margin: 0.4em 0;
}

/* The submit button */
.form-submit{

}

/* Inline labels and form divs */
.container-inline div, .container-inline label{
    display: inline;
}

/* Tips for Drupal's input formats */
.tips{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland's
* styling of list items.
*/
/* OpenID creates a new ul above the login form's links. */
#user-login-form ul{
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

/* The "Log in using OpenID" links. */
#user-login-form li.openid-link,
#user-login li.openid-link{
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
    padding-left: 20px;
    background-position: left center;
}

/* The "Cancel OpenID login" links. */
#user-login-form li.user-link,
#user-login li.user-link{
    margin-top: 1em;
    list-style-type: disc;
    list-style-position: outside;
}

/* The OpenID links on the /user form. */
#user-login li.openid-link,
#user-login li.user-link{
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
* forms on the site.
*/
form tbody{
    border-top: 1px solid #ccc;
}

form th{
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}

form tbody th{
    border-bottom: 1px solid #ccc;
}

form thead th{
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}


/** Amarilis Changes **/
/* LEFT COLUMN */
#gamesList .listExcerpt {
	width: 470px;
	
}

.gamesList{
	width: 600px;
	}
	
.gamesListTitle{
	float:left;
	
	
}

.gamesListLeftColumn h2{
	color:#000;
	border-bottom:3px solid #057fc2;
	padding-bottom:0px;
	}
	
.gamesPageLeftColumn h2{
	font-family:Georgia,Times,serif;
	font-size:2.0em;
	color:#0076A3;
	border-bottom:3px solid #057fc2;
	padding-bottom:10px;
	padding-left:30px;
	font-weight:normal;
	padding-top: 4px;
}
.gamesPageLeftColumn p{
	color:#464646;
	font-family:Arial,sans-serif;
	font-size:1.3em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6em;
}




.gamesPageLeftColumn h3{
	font-family:Arial,sans-serif;
	font-size:16px;
	
	
}

.gamesPageLeftColumn .gamesPoints{
	font-family:Arial,sans-serif;
	font-size:14px;
	
	
}

.gamesSection{
	border-bottom:1px solid #E1E1E1;
clear:both;
padding-bottom: 10px;
font-size:1.3em;
}
.gamesImage {
	
	height:45px;
	background-image:url('images/backgrounds/gamesBanner.gif') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
}
.gamesQuizQuestionImage{
	height:23px;
	width:30px;
	background-image:url('images/backgrounds/Quizquestion.png') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;	
	float:left;
	border-right:thin;
	border-right-color:#CCC;
	border-right-style:dashed;
	
	
	
}

.playButton{
background-image:url(images/backgrounds/play-now.gif);
background-repeat:no-repeat;
float:right;
height:24px;
text-align:center;
width:75px;

}
.playButtonDiv{
float:right;
}



.gamesBlockPadding .views-row-odd .gamesQuizContentImage{
	
	background-image:url('images/backgrounds/quiz_row.png') !important;
	background-position:center !important;
    background-repeat:no-repeat !important;
	background-color:#f8f8f8;
	float:left;
	width: 40px;
	height:50px;
}

.gamesBlockPadding .views-row-odd .gamesQuestionContentImage{
	
	background-image:url('images/backgrounds/row.png') !important;
	background-position:center !important;
    background-repeat:no-repeat !important;
	background-color:#f8f8f8;
	float:left;
	width: 40px;
	height:50px;
}
.gamesBlockPadding  .listItem {
margin-bottom: 0px;
}


.gamesBlockPadding .views-row-odd .quizTitles{
	padding-left:10px;
	float:left;
	width: 440px;

}
.gamesBlockPadding .views-row-odd .gamesPoints{
	padding-left:10px;

}


.gamesBlockPadding .views-row-even .gamesQuizContentImage{
	
	background-image:url('images/backgrounds/quiz_row.png') !important;
	background-position:center !important;
    background-repeat:no-repeat !important;
	background-color:#ffffff;
	float:left;
	width: 40px;
	height:50px;
}

.gamesBlockPadding .views-row-even .gamesQuestionContentImage{
	
	background-image:url('images/backgrounds/row.png') !important;
	background-position:center!important;
    background-repeat:no-repeat !important;
	background-color:#ffffff;
	float:left;
	width: 40px;
	height:50px;
}



.gamesBlockPadding .views-row-even .quizTitles{
	padding-left:10px;
	float:left;
	width: 440px;

}
.gamesBlockPadding .views-row-even .gamesPoints{
	padding-left:10px;

}


.gamesBlockPadding .views-row-odd{
	
	background-color:#f8f8f8;
	border-bottom:1px solid #E1E1E1;
	padding-top:10px;

}
.gamesBlockPadding .views-row-even{
	background-color:#FFF;
	border-bottom:1px solid #E1E1E1;
	padding-top:10px;
}
.inactiveGamesBlockPadding .views-row-odd{
	
	
	border-bottom:1px solid #E1E1E1;
	

}
.inactiveGamesBlockPadding .views-row-even{
	
	border-bottom:1px solid #E1E1E1;
	
}
.gamesQuiz a{
	color:#FFF;
	}
	
.gamesQuiz	a:hover{
	color:#333333;
}
.gameRightHeaderWrapper{
width: 300px; 
float:right;
}
.gamesQuizImage {

	height:27px;
	background-image:url('images/backgrounds/quiz.gif') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
}

.gamesQuestionsImage {
	
	height:27px;
	background-image:url('images/backgrounds/questions.png') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
}
.gamesInactiveQuizImage {
	
	height:27px;
	background-image:url('images/backgrounds/inactive.png') !important;
	background-position:0px 4px !important;
    background-repeat:no-repeat !important;
}
.gamesScoreboardImage {
	
	height:24px;
	background-image:url('images/backgrounds/scoreboard.gif') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
}

.gamesMyScoreboardImage {
	
	
	height:224px;
	width:300px;
	background-image:url('images/backgrounds/myscoreboard.png') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
}

.gamesChallenge{
	height:40px;
	width:150px;
	background-image:url('images/backgrounds/challenge.png') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
	float:left;
	
}
.gamesView{
	height:40px;
	width:150px;
	background-image:url('images/backgrounds/view.png') !important;
	background-position:0px 0px !important;
    background-repeat:no-repeat !important;
	float: right;
}

.gamesWrapper{
	
	width: 300px; 
	float:left;
}
.gamesInnerWrapper{
	
	height:224px; 

}
.gamesDivider{	
float:left;
padding-right: 10px;
border-right-color:#E1E1E1;
border-right-style:solid; 
border-right-width: 1px;
}

.gamesDivider{
float:left;
padding-right: 10px;
}

.gamesSpacer{
	clear:both;
	padding-bottom: 10px;
	height:260px;
	padding-top:10px;
}
.gamesPageDate{
	
	padding-left: 10px;
	
}
.gamesSmallDivider{
	float:left;
	padding-right:10px;
}
.gamesBlockPadding{
	padding-top: 6px;
}
.inactiveGamesBlockPadding{
	
	background-color:#f8f8f8;
	border-bottom:1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
	border-top:1px solid #E1E1E1;
	border-left:1px solid #E1E1E1;
	
}
.inactiveGamesBlockPadding .listItem{
	padding-left:10px;
	padding-right:10px;
	width:575px;
}

ul.subnavigation li .gamesSectionLink {
	text-transform:none; 
	font-size: 1.3em;
	font-weight:bold;
	background-image:url(images/backgrounds/arrow.png) !important;;
	background-position:right !important;
    background-repeat:no-repeat !important;
}




ul.subnavigation li .gamesSectionLink:visited{
	
	text-transform:none; 
	font-size: 1.3em;
	font-weight:bold;
	color:#464646;
	padding-left:none;
	background-image:url(images/backgrounds/arrow.png) !important;;
	background-position:right !important;
    background-repeat:no-repeat !important;
	
}
ul.subnavigation li .gamesSectionLink:hover{
	text-transform:none; 
	font-size: 1.3em;
	color:#0076A3;
	background-color:#FFF;
	
}
.GamesListFirstImage{
	text-align:left;
	padding-left:52px;
	padding-right:10px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	float:left;
}
.GamesListSecondImage{
	text-align:left;
	padding-left:45px;
	padding-right:10px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	float:left;
}
.GamesListThirdImage{
	text-align:left;
	padding-left:47px;
	padding-right:10px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	float:left;
}
.ShareWidget{
	padding-left:515px;
	width: 85px;
	color:#555555;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
height: 25px;
}
#gamesDetailHeaderWrapper{
	clear: both;
}
#gamesDetailHeader{
	float:left;
	
}
.gamesDetailSubHeader{
	
	padding:35px 10px 10px 50px;
	text-align:right;
	
	/*background-color:#999;*/
	
}
.GamesDetailHeaderTitle{
	
	padding-left: none;
	
	}


.GamesDetailHeaderTitle h1{
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	padding-bottom: none;
	font-size:1.8em;
	line-height:1.6em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold !important;
	
}



.QuestionList{
	width: 570px;
	
}


/*.QuestionList .listExcerpt{
	width:120px;
	text-align:right;
	float:none;
	
}*/

.QuestionList .QuestionListPoints{
	width: 510px;
	float:left;
	
}

.activeQuestions {

	padding-top:10px;

}
.inactiveQuestions {

	padding-top:10px;

}

.gameScoreboard{
	padding-top:10px;
}
.QuestionListAnswer .listExcerpt{
	width:60px;
	text-align:right;
	float:none;
	
}

.UPE-ButtonText {
background-color:#D37D26;
background-image:url(/shared/images/NewButtonOrangeBackground.gif);
background-repeat:repeat-x;
border:1px solid #A97F43;
color:white;
font-size:14px;
font-weight:bold;
line-height:16px;
}



.gamesInactivePoints{
font-weight:bold;
width: 100px;
}

.gamesInactiveQuizList{
	
	width: 570px;
	padding-top: 5px;
}

.gamesInactiveQuizContent h3{
	
	color:#828282;
	
}
.gamesInactiveTitle{
	font-weight:bold;
	float:left;}
	
.gamesInactiveQuizContent .gamesPoints{
	
	width: 100px;
	color:#828282;
	padding-top:1px;
	font-size:16px;
}
.gamesInactiveQuizTitle{
	float:left;
	
}

/* 
.gamesQuizList{
	width: 570px;
	
}

 Fixing Pending...
.gamesQuizList .listExcerpt{
	width: 100px;
	float:none;
	
}


.gamesQuiz p{
	font-family:Arial,sans-serif;
	font-size:16px;
	
	
}
*/
.gamesPoints{
	
float:left;
font-weight:bold;

}

.gamesQuiz{
	width: 570px;
	
	
}


.gamesQuiz .gamesPoints{
	font-family:Arial,sans-serif;
	font-size:14px;
	
	
}
.gamesQuiz .listExcerpt {
	float:none;
	width:75px;
	font-size:14px;
}



.gamesQuestions .listExcerpt {
	float:none;
	width:75px;
	
}


/** End Amarilis Changes **/

/** Matt Changes **/

#masthead-v4{
	display:none !important;
}

.navigation {
	list-style: none;
	float: left;
	display: block;
	line-height: 1.0;
	margin: 10px 0px 20px -5px;
	padding: 0;
	width: 100%;
	background: #E5E5E5;
}

.navigation li {
	background: #E5E5E5;
	float: left;
	position: relative;
	z-index: 498;
	color: #222222;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	border-left: 1px solid #fff;
	padding: 0.75em 1em;
	font-weight: 100;
	display:block;
}

.navigation li a{
	text-decoration:none;
	color: #222222;
}

.navigation li a:hover{
	text-decoration:none;
	color: #0B89B2;
}

.sectionTitle{
	color: #206E9E;
	font-style: italic;
	font-family: PostoniDisplayRegular;
	font-size: 50px;
	height: 30px;
	margin: 20px 0px;
}

#breadcrumb{
	float:left;
	clear:both;
	width:100%;
	margin:0px 0px 0px;
}

#slideshow{
	border: 1px solid #ccc;
	-moz-box-shadow: 2px 4px 10px 2px #ccc;
	-webkit-box-shadow: 2px 4px 10px 2px #ccc;
	background: #fff;
	width:400px;
	height:340px;
	float:left;
	margin:0px 15px 0px 0px;
	padding:10px;
}

#slideshow h3{
    font-family: Georgia;
    font-size: 20px;
    font-weight: normal;
    color: #999;
}

.contestList {
	border:1px solid #ccc;
	width:266px;
	height:356px;
	float:left;
	margin:0px 8px 0px 0px;
	padding:4px;
	color: #666;
	font-weight: lighter;
	font-family: arial;
	font-size:14px;
	line-height:18px;
}

.contestList h3{
	font-family: Georgia;
	font-weight: normal;
	font-size: 26px;
	margin: 10px 0px -10px;
	color:#000;
}

.hpLi{
	font-size: 12px !important;
	margin-bottom: 10px;
	margin-top: 5px;
	text-decoration:none !important;
}

.hpLi a{
	font-size: 14px !important;
	margin-bottom: 10px;
	margin-top: 5px;
	text-decoration:none !important;
	color:#0B89B2;
}


.inline-list li {
float: left;
}

.see-more a{
	text-decoration: none;
	text-align: right;
	float: right;
	font-style: italic;
	font-family: Georgia;
	font-size: 14px;
	color:#000;
}

.contestP{
	height:346px;
	padding:0px 10px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}

.eventList {
	border:1px solid #ccc;
	width:266px;
	height:356px;
	float:left;
	padding:4px;	
	color:#666;
	font-weight: lighter;
	font-family: arial;
	font-size:14px;
	line-height:18px;
}

.eventList h3{
	font-family: Georgia;
	font-weight: normal;
	font-size: 26px;
	margin: 10px 0px -10px;
	color:#000;
}

.eventP{
	height:346px;
	padding:0px 10px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

.welcome{
	float: left;
	width: 380px;
	margin: 0px 20px 0px 0px;
	padding: 20px;
}

.welcome h2{
	font-family: Georgia;
	font-weight: normal;
	font-size: 24px;
	margin:0px 0px 10px;
}

.welcome p {
	font-family: Georgia;
	color: #666;
	line-height: 28px;
	margin:0px;
}

#twitter-area{
	padding: 0px 10px 10px;
	border-radius: 10px;
}

.twitterBottom{
	background: url(/sites/all/themes/post/images/backgrounds/twitter_bottom.gif) 0px -10px no-repeat !important;
}

.twitterModule{
	float:left;
	width:180px;
	margin:20px 20px 0px 0px;
}

.twitterModule p{
	float:left;
}

.twitterModule a{
	float:left;
	color:#333;
	text-decoration:none;
	font-size:12px;
}

.twitterModule h2{
	text-transform: uppercase;
	font-size: 12px;
	color: #666;
	text-align: left;
	margin: 10px 0px 0px 0px;
	float: left;
	clear: both;
}

.social {
	float:left;
	width:360px;
	margin:20px 0px 0px;
}

.mail{
	float:left;
	margin:20px 0px 0px;
}

.mail h4{
	color:#999;
	margin:0px 0px 10px;
}

.mail p{
	font-size: 12px;
	color: #666;
	margin: 0px 0px 10px;
	line-height: 16px;
}

.row1{
	float: left;
	width: 100%;
	height: 360px;
}

.row2{
	float: left;
	width: 100%;
	min-height: 360px;
}

.wp-row, .wp-row{
	float:none !important;
}

#twitter_div{
	margin:0px 0px 0px -12px;
}

.we-three{
    margin: 0px 0px 30px;
}

.wp-column.seven{
    margin: 0px 0px 10px;
}

#twitter-area h2{
    padding: 5px 0px;
}

.contestList p, .eventList p{
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0px 0px;
}

#breadcrumb h1{
    font-size: 20px;
}
